<app-alert [message]="error" *ngIf="error"></app-alert>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container create-trip" *ngIf="data">
    <h1>Edit movie</h1>
    <div>
        <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
            <div class="form-group">
                <label for="name"> Movie Name 
                    <p class="error" *ngIf="movie.touched && movie.errors?.required">Movie name is required</p>
                </label>
                <input type="text" class="form-control" id="name" placeholder="Movie Name" name="name" ngModel
                    required #movie="ngModel" [class.input-error]="movie.touched && movie.errors" [(ngModel)]="data.name">
            </div>
            <div class="create-label">
                <label for="genre">
                    Genre
                    <p class="error" *ngIf="genre.touched && genre.errors?.required">Genre is required</p>
                </label>
                <label for="author">Author
                    <p class="error" *ngIf="author.touched && author.errors?.required">Author is required</p>
                </label>
            </div>
            <div class="form-group create-input">
                <input type="text" class="form-control-2" id="genre" placeholder="Genre" name="genre" ngModel required
                    #genre="ngModel" [class.input-error]="genre.touched && genre.errors" [(ngModel)]="data.genre">
                <input type="text" class="form-control-2" id="author" placeholder="Author" name="author" ngModel
                    required #author="ngModel" [class.input-error]="author.touched && author.errors" [(ngModel)]="data.author">
            </div>
            <div class="form-group">
                <label for="description">Description
                    <p class="error" *ngIf="description.touched && description.errors?.required">
                        Description is required
                    </p>
                    <p class="error" *ngIf="description.touched && description.errors?.minlength">
                        Description must be atleast 10 characters long
                    </p>
                </label>
                <textarea class="form-control" id="description" placeholder="Information about the movie"
                    name="description" ngModel required minlength="10" #description="ngModel" [class.input-error]="description.touched && description.errors" [(ngModel)]="data.description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Create</button>
        </form>
    </div>
</div>