<div class="container edit-trip">
    <h1>Edit movie</h1>
    <div>
        <form action="" method="POST">
            <div class="edit-label">
                <label for="name"> Movie Name </label>
                <label for="trailerID"> Movie Youtube Trailer ID </label>
            </div>
            <div class="form-group edit-input">
                <input type="text" class="form-control-2" id="name" placeholder="Movie Name" name="name" value="">
                <input type="text" class="form-control-2" id="trailerID" placeholder="Youtube Trailer ID"
                    name="trailerID" value="">
            </div>
            <div class="edit-label">
                <label for="genres">Genres</label>
                <label for="actors">Actors</label>
            </div>
            <div class="form-group edit-input">
                <input type="text" class="form-control-2" id="genres" placeholder="Genres" name="genres" value="">
                <input type="text" class="form-control-2" id="actors" placeholder="Actors" name="actors" value="">
            </div>
            <div class="form-group">
                <label for="movieImage">Movie Image</label>
                <input type="text" class="form-control" id="movieImage" placeholder="https://..." name="imageUrl">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="Information about the movie"
                    name="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>