<app-alert *ngIf="error" [message]="error"></app-alert>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of movies">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>{{movie.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="movie.imageUrl">
                <mat-card-subtitle>
                    <p>
                        Genre: {{movie.genre}}
                    </p>
                </mat-card-subtitle>
                <mat-card-actions>
                    <a [routerLink]="['/movies/details', movie._id]" class="btn btn-md btn-primary">Details</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<nav class="pagination-nav" *ngIf="pages && page && pages.length > 1">
    <a routerLink="/browse" [queryParams]="{'page': this.page - 1}" *ngIf="this.page - 1 > 0"><i
            class="fas fa-backward"></i></a>
    <ul>
        <li *ngFor="let x of pages">
            <a routerLink="/browse" [queryParams]="{'page': x}" [class.active]="x === page">{{x}}</a>
        </li>
    </ul>
    <a routerLink="/browse" [queryParams]="{'page': this.page + 1}" *ngIf="this.page - this.pages.length < 0"><i
            class="fas fa-forward"></i></a>
</nav>