.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}
mat-card-title {
  color: white;
}
mat-card {
  background-color: rgb(41, 40, 46, 0.7) !important;
  height: 100%;
}
p {
  color: white;
  font-weight: 420;
}
i:not(.rating) {
    color: #E50914;
}
img {
    height: 420px;
}
a:hover {
  color: black;
}
.btn:hover {
  background-color: #ff000d !important;
  color: white;
}
.btn {
  background-color: #E50914 !important;
  border: none !important;
}
mat-toolbar {
    color: #3F51B5 !important;
    background: 000000 !important;
    text-align: center;
}
.active {
  color: #E50914 !important;
}
.pagination-nav,
.pagination-nav *,
.pagination-nav *:before,
.pagination-nav *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
.pagination-nav {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}
.pagination-nav ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}
.pagination-nav ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}
.pagination-nav > a {
  font-size: 140%;
}
.pagination-nav a {
  color: white;
  font-size: 100%;
  padding: .5em;
}
.pagination-nav a:focus,
.pagination-nav a:hover {
  color: #E50914;
  text-decoration: none;
}
.pagination-nav li.current > a {
  color: white;
}
/* Disabled & Hidden Styles */
.pagination-nav .disabled,
.pagination-nav [hidden],
.pagination-nav [disabled] {
  opacity: .5;
  pointer-events: none;
}
@media (min-width: 350px) {
  .pagination-nav {
    font-size: 10pt;
  }
}
@media (min-width: 500px) {
  .pagination-nav {
    font-size: 12pt;
  }
}
@media (min-width: 700px) {
  .pagination-nav {
    font-size: 14pt;
  }
}
@media (min-width: 900px) {
  .pagination-nav {
    font-size: 16pt;
  }
}