.content {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.content > mat-card {
    width: 100%;
    box-sizing:border-box;
}
mat-toolbar {
    background-color: tomato !important;
}
mat-card {
    background-color: #29282E;
    color: white;
}
.orange {
    background-color: tomato !important;
    text-decoration: none;
}
.blue {
    background-color:skyblue !important;
    text-decoration: none;
}
a:hover {
    color: black;
}