html, body { 
    margin: 0;
    height: 100%;
}
body {
    background-image: url("/assets/background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}