.register-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.register-box h1 {
    font-size: 40px;
    border-bottom: 6px solid #E50914;
    margin-bottom: 20px;
    padding: 13px 0;
}
.textbox > input.input-error {
    border: 1px solid #E50914;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: none;
}
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #E50914;
}
.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn {
    width: 100%;
    background: none;
    border: 2.5px solid #E50914;
    color: white;
    cursor: pointer;
    margin: 12 0;
    font-size: 18px;
}
::placeholder { 
    color:white;
    opacity: 1; 
}
p.error {
    text-align: left;
    border-radius: 0.3em;
    font-size: small;
    color: red;
    padding-top: 0;
    margin-bottom: 2px;
}