<form action="" class="register-box">
    <h1>Register</h1>
    <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Email" name="email" value="">
    </div>
    <div class="textbox">
        <i class="fas fa-user-tie"></i>
        <input type="text" placeholder="Username" name="username" value="">
    </div>
    <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="password" value="">
    </div>
    <div class="textbox">
        <i class="fas fa-key"></i>
        <input type="password" placeholder="Repeat Password" name="repeatPassowrd" value="">
    </div>
    <input type="button" class="btn" value="Sign Up">
</form>