.line {
    height: 1px;
    background-color: #EEEEEE;
    width: 100%;
    margin: 35px 0px
}
.card {
    width: 650px;
    margin: auto
}
.user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer
}
.btn-pink {
    background-color:#E50914;
    color: #fff !important;
    height: 70px;
    padding: 20px 30px;
    margin-top: 15px
}

.btn-pink:hover {
    background-color: #E50914;
}

.image-bg {
    width: 100px
}

.fit-image {
    object-fit: cover;
    width: 100%
}

.prod-pic {
    width: 80px;
    height: 100px;
    cursor: pointer
}

.prod-bg {
    width: 19.5%;
    height: 110px;
    margin-bottom: 10px
}


@media screen and (max-width: 677px) {
    .card {
        width: 100%;
        margin: auto
    }

    .btn-pink {
        width: 100%;
        height: 40px;
        padding: 6px 30px
    }

    .prod-bg {
        width: 33%;
        height: 110px;
        background-color: #E0E0E0
    }

    .more {
        width: 66%
    }
}