.content {
    padding-top: 10px;
}
.container.mat-card {
    background-color: rgb(41, 40, 46, 0.5) !important;
    color: white;
    margin: 0 auto;
}
section {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}
.red {
    background-color: #E50914 !important;
    text-decoration: none;
    color: white;
}
.blue {
    background-color:#0778E7 !important;
    text-decoration: none;
}
.red:hover {
    background-color: #ff000d !important
}
.blue:hover {
    background-color:#0281ff !important;
    color: white;
}
.info {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
ul {
    padding-left: 0px;
    background-color: rgb(41, 40, 46, 0.5) !important;
}
section {
    background-color: rgb(41, 40, 46, 0.7) !important;
    border-radius: 4px;
}
form {
    padding: 0 5px;
}
i {
    color: #e23c44;
}
i:hover {
    color: #c00c15;
}
.btn {
    background: #E50914 !important;
    border: none;
}
li {
    list-style: none;
    background-color: rgb(41, 40, 46, 0.7) !important;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
    border-top: 1px solid gray;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.wrapper {
    display: inline-block;
    width: 50%;
}
.comment-text-sm {
    max-width: 500px;
}
.orange {
    background-color: tomato;
    text-decoration: none;
}
.orange:hover {
    color: white;
    background-color: rgb(238, 69, 39);
}
@media(max-width: 1024px) {
    .wrapper {
        width: 100%;
    }
    section {
        width: 100%;
        margin: 0;
    }
 }