.content {
    padding-top: 10px;
}
.container.mat-card {
    background-color: #29282E;
    color: white;
    margin: 0 auto;
}
.red {
    background-color: #E50914 !important;
    text-decoration: none;
    color: white;
}
.blue {
    background-color:#0778E7 !important;
    text-decoration: none;
}
.red:hover {
    background-color: #ff000d !important
}
.blue:hover {
    background-color:#0281ff !important;
    color: white;
}
.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}
.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}
.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}
.flex-container {
    display: flex;
}