@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.create-label {
  display: flex;
  justify-content: space-around;
}

h1 {
    text-align: center;
}
.create-input {
  display: flex;
  justify-content: space-between;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.file-label {
  display: block;
  position: relative;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(245,0,12,1) 0%, rgba(172,38,59,0.7374300061821604) 35%, rgba(245,0,12,1) 100%);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin: 0 auto;
}
.create-trip textarea.form-control {
  width: 100%;
  height: 90px;
}
.form-control-2 {
  text-align: center;
  display: block;
  width: 45%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input.form-control-2, textarea.form-control, input.form-control, textarea:disabled {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  outline: none;
}

textarea:disabled {
  width: 100%;
  resize: none;
}
/* 
.form-group p {
  color: #f8f9fa;
  text-shadow: 1px 1px #E50914;
  font-size: 20px;
  font-style: italic;
} */
input.form-control-2::placeholder, textarea.form-control::placeholder {
  color: rgb(167, 162, 162);
}
input.input-error, textarea.input-error {
  border: 1px solid #E50914;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: none;
}


textarea, textarea.form-control, textarea:disabled {
  padding: 5px 10px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  word-wrap: break-word;
}

textarea, input {
  background: rgba(0, 0, 0, 0.6);
}

label, .container>h1 {
  color: white;
}
label {
  width: 50%;
}

.form-group textarea {
  resize: none;
}

.container form {
  text-align: center;
}

i {
  color: #0578B9;
}
.btn.btn-primary {
  background-color: #E50914;
  border: none;
}
.btn.btn-primary:hover {
  background-color: #c72830;
}
p.error {
  text-align: center;
  border-radius: 0.3em;
  font-size: small;
  color: red;
  padding-top: 0;
  margin-bottom: 2px;
  width: 100%;
}
@media(max-width: 360px) {
   .create-trip{
    padding-top: 90px;
  }
}
@media(max-width: 540px) {
  .create-trip{
   padding-top: 95px;
 }
}
@media(max-width: 1024px) {
  .create-trip{
   padding-top: 110px;
 }
}