<mat-toolbar color="dark">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon color="accent" class="toggle">menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!isLogged">HOME</a>
        <a routerLink="/browse" routerLinkActive="active" *ngIf="isLogged">BROWSE</a>
        <a routerLink="/create" routerLinkActive="active" *ngIf="isLogged">CREATE</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li *ngIf="isLogged">
                <a routerLink="/user/profile" routerLinkActive="active">PROFILE</a>
            </li>
            <li *ngIf="isLogged">
                <a (click)="logout($event)">SIGN OUT</a>
            </li>
            <li *ngIf="!isLogged">
                <a routerLink="/user/login" routerLinkActive="active">LOGIN</a>
            </li>
            <li *ngIf="!isLogged">
                <a routerLink="/user/register" routerLinkActive="active">REGISTER</a>
            </li>
        </ul>
    </div>
</mat-toolbar>