a {
    text-decoration: none;
    color: white !important;
}
a:hover{
    cursor: pointer !important;
    text-decoration: none;
    color:  #E50914;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.active {
    color: #E50914 !important;
}
.toggle {
    color: #E50914 !important;
}
div > a {
    margin-right: 15px;
}
mat-toolbar{
    background-color: #29282E;
}
