a {
    text-decoration: none;
    color: white;
}
a:hover{
    color:  #E50914;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.active {
    color: #E50914;
}
.toggle {
    color: #E50914 !important;
}
mat-toolbar{
    background-color: #29282E;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}