<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()" *ngIf="!isLogged">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/browse" (click)="onSidenavClose()" *ngIf="isLogged">
        <mat-icon>local_movies</mat-icon> <span class="nav-caption">BROWSE</span>
    </a>
    <a mat-list-item routerLink="/create" (click)="onSidenavClose()" *ngIf="isLogged">
        <mat-icon>add</mat-icon><span class="nav-caption">Create</span>
    </a>
    <a mat-list-item routerLink="/user/register" (click)="onSidenavClose()" *ngIf="!isLogged">
        <mat-icon>lock</mat-icon><span class="nav-caption" >REGISTER</span>
    </a>
    <a mat-list-item routerLink="/user/login" (click)="onSidenavClose()" *ngIf="!isLogged">
        <mat-icon>lock_open</mat-icon><span class="nav-caption">LOGIN</span>
    </a>
    <a mat-list-item routerLink="/user/profile" (click)="onSidenavClose()" *ngIf="isLogged">
        <mat-icon>face</mat-icon><span class="nav-caption">PROFILE</span>
    </a>
    <a mat-list-item routerLink="/user/logout" (click)="onSidenavClose()" *ngIf="isLogged" (click)="logout($event)">
        <mat-icon>exit_to_app</mat-icon><span class="nav-caption">SIGN OUT</span>
    </a>
</mat-nav-list>